<template>
  <div>
    <div class="flex flex-col items-center">
      <h3 class=" mt-5 font-bold text-black">NBA Real-Time Simulation Results</h3>
      <button
        @click="startGame()"
        class="mt-4 bg-red-400 text-black font-bold py-1 px-8 rounded m-2"
      >
        Call To Start Matches
      </button>
    </div>
    <div
      :class="{ invisible: show }"
      class=" mt-5 container flex justify-center mx-auto"
    >
      <div class="flex flex-col">
        <div class="w-full">
          <div class="border-b border-gray-200 shadow">
            <table>
              <thead class="bg-gray-50">
                <tr>
                  <th class="px-6 py-2 text-xs text-gray-500">Teams</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Scores</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Attacks</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Substitution</th>
                  <th class="px-6 py-2 text-xs text-gray-500">
                    Top Score Player (Score)
                  </th>
                  <th class="px-6 py-2 text-xs text-gray-500">
                    Top Assist Player (Assist)
                  </th>
                </tr>
              </thead>
              <tbody v-for="item in data" :key="item.id" class="bg-white">
                <tr class="whitespace-nowrap">
                  <td class="px-6 py-4">
                    <div class="text-sm text-gray-900">
                      {{ item.teams[0].name }} - {{ item.teams[1].name }}
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <div class="text-sm text-gray-500">
                      {{ item.teams[0].scorecount }} -
                      {{ item.teams[1].scorecount }}
                    </div>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{ item.teams[0].attackcount }} -
                    {{ item.teams[1].attackcount }}
                  </td>
                  <td class="px-6 py-4">
                    <a class="px-6 py-4 text-sm text-gray-500"
                      >{{ item.teams[0].substitutioncount }} -
                      {{ item.teams[1].substitutioncount }}</a
                    >
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{ item.topscoreplayer.name }} (
                    {{ item.topscoreplayer.scorecount }} )
                  </td>
                  <td class="px-6 py-4">
                    <a class="px-6 py-4 text-sm text-gray-500"
                      >{{ item.topassistplayer.name }} (
                      {{ item.topassistplayer.assistcount }} )</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div :class="{ invisible: show }" class="flex flex-col items-center">
      <h3 class="font-bold mt-5 text-black">Real-Time Player Statistics</h3>
    </div>

    <div
      :class="{ invisible: show }"
      class=" mt-5 container flex justify-center mx-auto"
    >
      <div class="flex flex-col">
        <div class="w-full">
          <div class="border-b border-gray-200 shadow">
            <table v-for="item in data" :key="item.id">
              <thead class="bg-gray-50">
                <div class="px-6 py-2 text-xs font-bold ">
                  {{ item.name }}
                </div>
                <tr>
                  <th class="px-6 py-2 text-xs text-gray-500">Player</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Score</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Assist</th>
                  <th class="px-6 py-2 text-xs text-gray-500">
                    Two Point Success Rate
                  </th>
                  <th class="px-6 py-2 text-xs text-gray-500">
                    Three Point Success Rate
                  </th>
                </tr>
              </thead>
              <tbody v-for="team in item.teams" :key="team.id" class="bg-white">
                <tr
                  v-for="player in team.players"
                  :key="player.id"
                  class="whitespace-nowrap"
                >
                  <td class="px-6 py-4">
                    <div class="text-sm text-gray-900">
                      {{ player.name }}
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <div class="text-sm text-gray-500">
                      {{ player.scorecount }}
                    </div>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{ player.assistcount }}
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{ player.twopointsuccessrate }}
                  </td>
                  <td class="px-6 py-4">
                    <a class="px-6 py-4 text-sm text-gray-500">{{
                      player.triplesuccessrate
                    }}</a>
                  </td>
                </tr>
              </tbody>
              <tbody v-for="team in item.teams" :key="team.id" class="bg-white">
                <tr
                  v-for="player in team.backups"
                  :key="player.id"
                  class="whitespace-nowrap"
                >
                  <td class="px-6 py-4">
                    <div class="text-sm text-gray-900">
                      {{ player.name }}
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <div class="text-sm text-gray-500">
                      {{ player.scorecount }}
                    </div>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{ player.assistcount }}
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{ player.twopointsuccessrate }}
                  </td>
                  <td class="px-6 py-4">
                    <a class="px-6 py-4 text-sm text-gray-500">{{
                      player.triplesuccessrate
                    }}</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      socket: null,
      data: null,
      show: true,
    };
  },
  methods: {
    async startGame() {
      this.$store.dispatch(
        "nba/startGame",
        this.$store.state.nba.initialMatches
      );
      setTimeout(() => this.show = false, 5000);
    },
  },
  computed: {},
  created() {},
  async mounted() {
    // Define socket and attach it to our data object
    this.socket = await new WebSocket("ws://localhost:8080/ws");

    // When it opens, console log that it has opened. and send a message to the server to let it know we exist
    this.socket.onopen = () => {
      console.log("Websocket connected.");
    };

    this.socket.onmessage = (msg) => {
      this.data = JSON.parse(msg.data);
    };
  },
};
</script>